<!DOCTYPE html>
<html>

<head>
    <title>
        form
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>form</h1>
    <form method="post" action="/new">
        <h1>add the new message</h1>
        <input type="text" name="user" id="user" placeholder="user"><br><br>
        <input type="text" name="text" id="text" placeholder="messageTxt">
        <button type="submit">submit</button>
    </form>
</body>

</html>